import libraries and read in data

In [0]:
import pandas as pd
import numpy as np
postal = pd.read_excel('/content/Cap_W3.xlsx')

remove unassigned boroughs and replace unassigned neighborhoods with borough name

In [0]:
postal = postal.loc[postal['Borough'] != 'Not assigned']
 
postal = postal.replace(to_replace ='Not assigned', value = postal['Neighborhood'])

In [149]:
postal.PostalCode.unique()
postal.head()

  PostalCode    Borough      Neighborhood
3        M9W  Etobicoke         Northwest
4        M9V  Etobicoke    Albion Gardens
5        M9V  Etobicoke  Beaumond Heights
6        M9V  Etobicoke        Humbergate
7        M9V  Etobicoke         Jamestown

group data by PostalCode, joining the Neighbors values with ","

In [150]:
grouped = postal.groupby('PostalCode')['Neighborhood'].apply(', '.join)
grouped = grouped.to_frame()
type(grouped)
print(grouped)

                                                 Neighborhood
PostalCode
M1B                                            Rouge, Malvern
M1C                    Highland Creek, Rouge Hill, Port Union
M1E                         Guildwood, Morningside, West Hill
M1G                                                    Woburn
M1H                                                 Cedarbrae
...                                                       ...
M9N                                                    Weston
M9P                                                 Westmount
M9R         Kingsview Village, Martin Grove Gardens, Richv...
M9V         Albion Gardens, Beaumond Heights, Humbergate, ...
M9W                                                 Northwest

[103 rows x 1 columns]

merge datasets to add back 'Borough' column

In [163]:
import pandas as pd
df = pd.merge(grouped, postal2, on='PostalCode', how='inner')
df = df[['PostalCode', 'Borough', 'Neighborhood']]
print(df)

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1B  Scarborough                                     Rouge, Malvern
2          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
3          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
4          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
..         ...          ...                                                ...
205        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
206        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
207        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
208        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
209        M9W    Etobicoke                                          Northwest

[210 rows x 3 columns]

drop merged duplicates and print shape

In [171]:
df = df.drop_duplicates()
df.head(12)
df.shape

(103, 3)

add postal code coordinates

In [181]:
geo = pd.read_csv('/content/Geospatial_Coordinates.csv')
geo.columns = ['PostalCode', 'Latitude', 'Longitude']
geo.columns

geo = pd.merge(df, geo, on='PostalCode', how='inner')
geo.head(10)

  PostalCode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
5        M1J  Scarborough  ...  43.744734 -79.239476
6        M1K  Scarborough  ...  43.727929 -79.262029
7        M1L  Scarborough  ...  43.711112 -79.284577
8        M1M  Scarborough  ...  43.716316 -79.239476
9        M1N  Scarborough  ...  43.692657 -79.264848

[10 rows x 5 columns]